.featureBox{
    background-color: #B6EBDD;
    height: 33%;
    width: 30%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.client{
    background-color: #ffffff;
    margin: 90px;
    padding: 20px;
    border-radius: 8px;
}

.client-header{
    margin-left: 18px;
}