.newsletter{
    background-color: #B6EBDD;
    margin: 5px;
    padding:10px;
    width: 22%;
    /* height: 80%; */
    border-radius:10px;
}

.email {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    width: 80%;
    border-color: #42A387;
    color: #42A387;
    margin: 5px;
  }

.subscription {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #09805E;
    transition: background-color 0.3s ease;
    width: 94%;
    border-color: #42A387;
    color: #42A387;
    margin: 5px;
    text-align: left;
}
  
.subscription:hover {
    background-color: #09805E;
    color: #B6EBDD;
    cursor: pointer;
}