.WhatWeDo{
    margin: 50px;
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 500px;
}

.WhatWeDo-img{
    display: flex;
    justify-content: center;
    flex-basis: 500px;
    margin: 40px;
    
}

.WhatWeDo-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    
}


  